h1 {
    text-align: center;
    margin-bottom: 3rem;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display {
    background-color: #eee;
    height: 4.5rem;
    width: 19.2rem;
    font-size: 2rem;
}

button {
    height: 4.5rem;
    width: 4.5rem;
    outline: none;
    border: none;
    margin: 0.2rem;
    cursor: pointer;
}
